In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv('../data/dataset_clean.csv')
df.head()

,order_id,1,2,3,4,5,6,7,8,9,...,18,19,20,21,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,112108,train,4,4,10,9.0
1,2,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,202279,prior,3,5,9,8.0
2,3,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,205970,prior,16,5,17,12.0
3,4,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,178520,prior,36,1,9,7.0
4,5,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,...,0.0,1.0,1.0,0.0,156122,prior,42,6,16,9.0

In [9]:
_, X_small, _, _ = train_test_split(df, df['order_dow'], test_size=0.1, random_state=0, stratify=df[['order_dow']])

In [10]:
X_small.head()

,order_id,1,2,3,4,5,6,7,8,9,...,18,19,20,21,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
620673,634660,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,122910,prior,17,1,13,7.0
3248746,3321607,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,0.0,0.0,109779,prior,5,5,15,30.0
27627,28237,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,1.0,0.0,190896,prior,1,0,15,NaN
142712,145898,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,18948,prior,7,1,8,4.0
1272929,1301473,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,1.0,0.0,171826,prior,2,1,10,30.0

In [11]:
X_small.to_csv('../data/dataset_clean_small.csv', index=False)