In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)
import gc

In [2]:
order_products = pd.concat([pd.read_csv('../data/order_products__prior.csv'),
                            pd.read_csv('../data/order_products__train.csv')])
products = pd.read_csv('../data/products.csv')
departments = pd.read_csv('../data/departments.csv')

In [3]:
df = pd.merge(order_products, products, on='product_id')

#cleanup
del order_products
del products
del departments
gc.collect()

df.head()

,order_id,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id
0,2,33120,1,1,Organic Egg Whites,86,16
1,26,33120,5,0,Organic Egg Whites,86,16
2,120,33120,13,0,Organic Egg Whites,86,16
3,327,33120,5,1,Organic Egg Whites,86,16
4,390,33120,28,1,Organic Egg Whites,86,16

In [5]:
# Indicator variable for presence of product category in order
df['values'] = 1
df1 = df.pivot_table(values='values', index='order_id', columns='department_id').fillna(0.0).reset_index()
# df1.to_csv('../data/orders_product_categories.csv', index=False)
df1.head()

department_id,order_id,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21
0,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
1,2,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,3,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,4,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,5,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,1.0,0.0

In [6]:
# count of product category in order
df['department_id_count'] = df.groupby(['order_id', 'department_id'])['order_id'].transform('count')
df2 = df.pivot_table(values='department_id_count', index='order_id', columns='department_id').fillna(0.0).reset_index()
# df2.to_csv('../data/orders_product_categories_count.csv', index=False)
df2.head()

department_id,order_id,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21
0,1,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,3.0,0.0,0.0,0.0,0.0,0.0
1,2,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,3,0.0,0.0,1.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0
3,4,0.0,0.0,1.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,1.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0
4,5,0.0,0.0,0.0,7.0,0.0,1.0,1.0,0.0,2.0,0.0,1.0,1.0,2.0,0.0,0.0,3.0,3.0,0.0,4.0,1.0,0.0

In [ ]:
# cleanup
del df
gc.collect()

# final cleaned dataset
orders = pd.read_csv('../data/orders.csv')
df_clean = pd.merge(df1, df2, on='order_id')
df_clean = pd.merge(df_clean, orders[['order_id', 'order_dow']], on='order_id')

# renaming columns
df_clean = df_clean.rename(columns={**{f"{i}_x":f"category_{i}" for i in range(1, 22)},
                                    **{f"{i}_y":f"category_{i}_count" for i in range(1, 22)}
                                   }
                          )

df_clean.head()

In [ ]:
# most commonly purchased product categories based on presence
df_clean[[x for x in range(1, 22)]].sum(axis=0).sort_values(ascending=False)[:5]

In [ ]:
df.to_csv('../data/dataset_clean.csv', index=False)