In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)
import numpy as np
import gc
from scipy.sparse import vstack, csr_matrix, save_npz, load_npz

In [2]:
test = False

In [3]:
order_products = pd.concat([pd.read_csv('../data/order_products__prior.csv'),
                            pd.read_csv('../data/order_products__train.csv')])
products = pd.read_csv('../data/products.csv')
departments = pd.read_csv('../data/departments.csv')

In [4]:
df = pd.merge(order_products, products, on='product_id')

#cleanup
del order_products
del products
del departments
gc.collect()

df.head()

,order_id,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id
0,2,33120,1,1,Organic Egg Whites,86,16
1,26,33120,5,0,Organic Egg Whites,86,16
2,120,33120,13,0,Organic Egg Whites,86,16
3,327,33120,5,1,Organic Egg Whites,86,16
4,390,33120,28,1,Organic Egg Whites,86,16

In [6]:
# top 10 product categories
num_products = 500
top_products = df.groupby('product_id')['product_id'].count().sort_values(ascending=False)[:num_products].index.tolist()
top_products

[24852,
 13176,
 21137,
 21903,
 47209,
 47766,
 47626,
 16797,
 26209,
 27845,
 27966,
 22935,
 24964,
 45007,
 39275,
 49683,
 28204,
 5876,
 40706,
 8277,
 4920,
 30391,
 45066,
 42265,
 44632,
 49235,
 19057,
 4605,
 21616,
 37646,
 17794,
 27104,
 30489,
 31717,
 27086,
 46979,
 8518,
 44359,
 28985,
 41950,
 26604,
 5077,
 34126,
 22035,
 39877,
 43352,
 35951,
 10749,
 19660,
 9076,
 24184,
 21938,
 43961,
 34969,
 48679,
 46667,
 12341,
 25890,
 31506,
 5450,
 39928,
 24838,
 22825,
 5785,
 35221,
 28842,
 33731,
 8424,
 27521,
 33198,
 8174,
 44142,
 20114,
 27344,
 11520,
 29487,
 18465,
 28199,
 15290,
 46906,
 9839,
 27156,
 3957,
 43122,
 23909,
 34358,
 4799,
 9387,
 16759,
 196,
 42736,
 4210,
 38689,
 41787,
 47144,
 41220,
 7781,
 33000,
 20995,
 21709,
 40604,
 19678,
 30233,
 34243,
 37687,
 24489,
 42828,
 432,
 6184,
 5479,
 16185,
 42768,
 17948,
 33754,
 8193,
 19348,
 26369,
 42585,
 14992,
 14947,
 22963,
 28849,
 8021,
 1463,
 25659,
 21405,
 5025,
 41844,
 43789,
 46676,
 31343,
 42701,
 11777,
 38293,
 43295,
 36011,
 39475,
 20842,
 32689,
 2295,
 32655,
 46802,
 25146,
 13870,
 18531,
 31553,
 5212,
 260,
 39408,
 10246,
 36695,
 24830,
 38383,
 43768,
 11182,
 1940,
 18362,
 21288,
 18523,
 6046,
 44683,
 29987,
 890,
 43772,
 23734,
 30450,
 38777,
 38456,
 7948,
 44910,
 47734,
 46969,
 26620,
 38159,
 47672,
 26165,
 44987,
 30776,
 4957,
 35939,
 28289,
 16953,
 14678,
 40310,
 16349,
 37067,
 44422,
 29447,
 23375,
 2078,
 19048,
 32864,
 33787,
 13984,
 41290,
 8859,
 23165,
 48364,
 17600,
 33120,
 39812,
 31683,
 26940,
 35108,
 28465,
 26283,
 38739,
 37158,
 3952,
 2086,
 18370,
 45,
 41665,
 35547,
 10957,
 2966,
 24799,
 43154,
 43713,
 10132,
 40571,
 40396,
 18027,
 1158,
 25931,
 7021,
 42342,
 45535,
 13629,
 15937,
 42450,
 20119,
 32478,
 48745,
 21019,
 48205,
 39619,
 34050,
 34448,
 17461,
 45603,
 45633,
 31040,
 30169,
 38400,
 13646,
 21267,
 40174,
 5818,
 36865,
 17872,
 26790,
 23288,
 39984,
 21376,
 46654,
 14084,
 32734,
 37766,
 12206,
 33768,
 28934,
 39993,
 6187,
 43086,
 6348,
 329,
 18441,
 5646,
 42356,
 6104,
 48775,
 10673,
 651,
 25340,
 47977,
 19508,
 13535,
 40709,
 39180,
 36070,
 27336,
 19677,
 10017,
 28156,
 13829,
 42244,
 27695,
 49520,
 49383,
 6873,
 8571,
 40545,
 16083,
 24561,
 11782,
 49075,
 13249,
 30720,
 40199,
 24024,
 35921,
 17795,
 17122,
 8670,
 35561,
 25588,
 11422,
 31915,
 14233,
 30827,
 35042,
 3599,
 7963,
 25466,
 44449,
 42445,
 36550,
 17706,
 19019,
 20082,
 42625,
 21295,
 33401,
 1511,
 8048,
 16965,
 23537,
 5194,
 21195,
 4562,
 2825,
 15872,
 7751,
 38928,
 18288,
 40723,
 13380,
 9339,
 22395,
 28993,
 46720,
 15902,
 4472,
 38164,
 3376,
 35140,
 7175,
 19706,
 12916,
 2855,
 13166,
 40516,
 40332,
 29662,
 5782,
 13740,
 19691,
 5258,
 5134,
 45200,
 7503,
 12456,
 10644,
 33129,
 13575,
 21174,
 20955,
 13198,
 44570,
 39561,
 44765,
 46584,
 37710,
 22124,
 3464,
 7559,
 43662,
 32691,
 35898,
 10070,
 36735,
 34262,
 4421,
 37029,
 18918,
 42719,
 11408,
 18234,
 45123,
 44560,
 23029,
 1025,
 47141,
 18811,
 9092,
 28745,
 3896,
 25138,
 35628,
 21292,
 26384,
 35503,
 28476,
 38768,
 21573,
 46820,
 21386,
 47042,
 11140,
 14197,
 39947,
 32433,
 1999,
 47759,
 17949,
 25824,
 37220,
 21333,
 46616,
 24954,
 41065,
 5456,
 38273,
 48628,
 43504,
 15613,
 1194,
 15424,
 44628,
 39190,
 27548,
 27730,
 35535,
 24841,
 29307,
 42110,
 14161,
 16696,
 14462,
 49175,
 31066,
 26800,
 9825,
 27796,
 11068,
 5322,
 7969,
 27325,
 41588,
 32177,
 5769,
 27323,
 8309,
 11005,
 13517,
 1244,
 27744,
 9020,
 22474,
 13733,
 2228,
 16521,
 2452,
 26497,
 3298,
 49191,
 20345,
 4086,
 21872,
 19173,
 28601,
 17316,
 18479,
 2314,
 15261,
 20734,
 41658,
 47630,
 12980,
 22849,
 20738,
 36724,
 5373,
 44799,
 21927,
 22959,
 5161,
 37524,
 20574,
 35914,
 12845,
 17758,
 26348,
 25513,
 4656,
 6948,
 11712,
 34584,
 40198]

In [7]:
# filtering top products
print(f"n rows before filtering: {len(df)}")
df = df[df['product_id'].isin(top_products)]
print(f"n rows after filtering: {len(df)}")

n rows before filtering: 33819106
n rows after filtering: 14485274

In [8]:
# taking relevant columns and add values
df = df[['order_id', 'product_id']]
df['values'] = 1

In [10]:
# product ids from np.unique is already sorted
product_ids = np.unique(df['product_id'])
# np.sort(product_ids) == product_ids

In [12]:
if test: df = df.iloc[:1000]

if 'csr' in globals():
    del csr

chunk_size = 200000    # number of distinct order_id processed per chunk
n_iter = (df['order_id'].max() // chunk_size) + 1
col_names = np.unique(df['product_id'])
index = np.array([])

for i in range(n_iter):
    
    print(f"iteration {i+1}/{n_iter}...", end='')
    
    df_chunk = df[(df['order_id'] > i*chunk_size) & (df['order_id'] <= (i+1)*chunk_size)]
    
    # pivot
    print('pivoting...', end='')
    df_chunk = df_chunk.pivot_table(values='values', index='order_id', columns='product_id').fillna(0)
    
    # add columns(product_id) of zeros if product_id not present
    for col in col_names:
        if col not in df_chunk.columns:
            df_chunk[col] = 0
    
    # sort columns
    df_chunk = df_chunk[col_names.tolist()]
    
    # append index
    index = np.append(index, df_chunk.index.to_numpy())
    
    # instantiate csr or stack chunk on top of existing csr
    print('converting to sparse...')
    try: csr
    except: csr = csr_matrix(df_chunk.values, dtype=np.int8)
    else: csr = vstack((csr, csr_matrix(df_chunk.values, dtype=np.int8)))

iteration 1/18...pivoting...converting to sparse...
iteration 2/18...pivoting...converting to sparse...
iteration 3/18...pivoting...converting to sparse...
iteration 4/18...pivoting...converting to sparse...
iteration 5/18...pivoting...converting to sparse...
iteration 6/18...pivoting...converting to sparse...
iteration 7/18...pivoting...converting to sparse...
iteration 8/18...pivoting...converting to sparse...
iteration 9/18...pivoting...converting to sparse...
iteration 10/18...pivoting...converting to sparse...
iteration 11/18...pivoting...converting to sparse...
iteration 12/18...pivoting...converting to sparse...
iteration 13/18...pivoting...converting to sparse...
iteration 14/18...pivoting...converting to sparse...
iteration 15/18...pivoting...converting to sparse...
iteration 16/18...pivoting...converting to sparse...
iteration 17/18...pivoting...converting to sparse...
iteration 18/18...pivoting...converting to sparse...

In [13]:
# save csr matrix
save_npz(f"../data/top{num_products}_products.npz", csr)

In [14]:
# check if number of orders is equivalent to sparse's rows and number of unique product_ids is equivalent to sparse's columns
print(f"# rows is consistent: {len(np.unique(df['order_id'])) == csr.shape[0]}")
print(f"# columns is consistent: {len(np.unique(df['product_id'])) == csr.shape[1]}")

# rows is consistent: True
# columns is consistent: True

In [15]:
# save sparse dataframe to parquet
df_sparse = pd.DataFrame.sparse.from_spmatrix(csr, 
                                              index=index.astype(str).tolist(), 
                                              columns=col_names.astype(str).tolist())
df_sparse.to_pickle(f'../data/top{num_products}_products.pickle')

In [19]:
df_sparse.shape

(2922905, 500)